.tags:empty {
  display: none;
}

.r6o-widget.tag {
  background-color: $background-color;
  border-bottom: 0px solid rgba(0, 0, 0, 0) !important;
  padding: 1px 10px;
  display: flex;
  width: fit-content;
  max-width: calc(100% - 20px);

  .tag-icon {
    margin-right: 3px;
  }

  .tag-dropdown {
    position: relative;
    max-width: 100%;
  }

  .tag-button {
    background-color: #1a51cb;
    color: white;
    align-items: center;
    display: block;
    border-radius: 3px;
    border: none;
    outline: none;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 14px;
    white-space: nowrap;
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    &:hover {
      cursor: pointer;
    }
    svg {
      vertical-align: middle;
    }
  }

  .tag-dropdown-block {
    display: "flex";
    position: absolute;
    top: 30;
    z-index: 10000000;
  }

  .tag-dropdown-menu {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    min-width: 120px;
    max-width: 400px;
    max-height: 150px;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 5px;
    }
    /* Track */
    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #888;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }

  .button-span {
    font-size: 14px;
    padding: 2px 8px;
    &:hover {
      cursor: pointer;
      background-color: $lightblue-type;
      transition: all 0.5s;
    }
    &.selected {
      font-weight: bold;
      background-color: #e6f7ff;
      &:hover {
        background-color: #e6f7ff;
      }
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  ul.r6o-taglist {
    flex: 0;
    white-space: nowrap;

    li {
      margin: 0;
      display: inline-block;
      margin: 1px 1px 1px 0;
      padding: 0;
      vertical-align: middle;
      overflow: hidden;
      font-size: 12px;
      background-color: $background-color;
      border: 1px solid $lightgrey-border-darker;
      cursor: pointer;
      position: relative;
      line-height: 180%;
      @include noselect();
      @include rounded-corners(2px);
      @include box-shadow(0, 0, 4px, 0.1);

      .label {
        padding: 2px 8px;
        display: inline-block;
      }

      .delete-wrapper {
        display: inline-block;
        padding: 2px 0;
        color: #fff;
        width: 0;
        height: 100%;
        background-color: $ocean;
        @include rounded-corners-right(2px);

        .delete {
          padding: 2px 6px;

          .icon {
            height: 11px;
            padding-bottom: 1px;
          }
        }

        svg {
          vertical-align: text-top;
        }
      }

      .delete-enter-active {
        width: 24px;
        transition: width 200ms;
      }

      .delete-enter-done {
        width: 24px;
      }

      .delete-exit {
        width: 24px;
      }

      .delete-exit-active {
        width: 0;
        transition: width 200ms;
      }
    }
  }

  .r6o-autocomplete {
    flex: 1;

    li {
      font-size: 14px;
    }
  }

  input {
    padding: 0 3px;
    min-width: 80px;
    outline: none;
    border: none;
    line-height: 170%;
    background-color: transparent;
    color: $standard-type;
  }

  input::-webkit-input-placeholder {
    color: #c2c2c2;
  }
  input::-moz-placeholder {
    color: #c2c2c2;
  }
  input:-moz-placeholder {
    color: #c2c2c2;
  }
  input:-ms-input-placeholder {
    color: #c2c2c2;
  }
}
